
body {   
    font-family: Outfit;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1.066rem;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper {
    max-width: 22.7em;
    margin: 0 auto;
}
.container {
    padding: 1.066em;
    border-radius: 3%;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}
h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.9rem;
}
.qr-image {
    border-radius: 3%;
    max-width: 100%;
}
