
body {   
    font-family: Outfit;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
}
.wrapper {
    max-width: 22.7em;
    margin: 0 auto;
}
.container {
    padding: 1.066em;
    border-radius: 3%;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}
h1, p {
    padding: 0 .3em;
}
h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
}
.qr-image {
    border-radius: 3%;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 446px){
    h1 {
        font-size: 1rem;
    }
    body {
        font-size: .65rem;
    }
}
